<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>form</title>
	<script src="./vue.js"></script>
</head>
<body>
	<div id="app">
		<p>input 元素：</p>
		<input v-model="message" placeholder="编辑我...">
		<p>消息是：{{ message }}</p>

		<p>textarea 元素</p>
		<p style="white-space:pre">{{ message2}}</p>
		<textarea v-model="message2" placeholder="多行文本输入..."></textarea>
	</div>
	
	<script>
		new Vue({
			el:"#app",
			data:{
				message:"BOBO 思密达",
				message2:"今天老沈过生日"
			}
		})
	</script>
</body>
</html>