asn1crypto==0.24.0
attrs==17.4.0
bcrypt==3.1.4
certifi==2018.1.18
cffi==1.11.4
chardet==3.0.4
click==6.7
colorama==0.3.9
cryptography==2.2.2
Flask==0.12.2
Flask-Cors==3.0.3
gunicorn==19.7.1
idna==2.6
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
mock==2.0.0
olefile==0.44
paramiko==2.2.1
pbr==3.1.1
Pillow== 8.1.1
pluggy==0.6.0
py==1.5.2
pyasn1==0.4.2
pycparser==2.18
pygelf==0.3.1
PyJWT==1.5.3
PyNaCl==1.2.1
pytest==3.3.2
qrcode==5.3
redis==2.10.5
requests==2.18.4
scp==0.10.2
six==1.11.0
SQLAlchemy==1.2.0
urllib3==1.22
Werkzeug==0.12.2
Flask_SQLAlchemy==2.3.2
psycopg2-binary==2.7.4
Flask_And_Redis==0.7
Flask-Migrate==2.1.1
Flask-Script==2.0.6
celery==4.1.1
flower==0.9.2
marshmallow==2.15.3